body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  align-items: center;
  background-image: url("background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  padding-top: 40px;
  margin: 0;
}
#haut{
  display: flex;
  gap: 25px;
}
#bloc{
    display: flex;
    flex-direction: row;
    justify-content: center;
  gap: 25px;
}
#photosoleil{
  width: 70px;
    border-radius: 40%;

}
#photobas{
  width: 70px;
    border-radius: 40%;

}
#recherche{
  width: 40px;
}
hr {
  color: white;
  border: 2px solid white;
  margin-top: 10px;
  width: 40%;
  margin-bottom: 20px;
}
#contain {
  padding-top: 25px;
  text-align: center;
  width: 42%;
  background-color: aquamarine;
  border-radius: 15px;
  height: 280px;
}
input {
  width: 90%;
  height: 40px;
  border-radius: 15px;
  box-shadow: blue 1px 1px 6px 1px;
}
button {
  height: 45px;
  width: 105px;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  border: 1px solid white;
}
button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 4, 255);
  cursor: pointer;
  border: 1px solid blue;
  transform: scale(1.1);
  transition: 0.5s;
}
#resultat {
  margin-top: 60px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 120px;
  border-radius: 20px;
  margin-left: 65px;
}
h3 {
  color: rgb(61, 52, 52);
  text-decoration: none;
}
#icone {
  color: rgb(70, 62, 62);
}
#enfant{
  background-color: rgba(184, 180, 175, 0.733);
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
align-items: center;}
#contain2{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 60px;
  padding-top: 30px;
  color: rgb(255, 39, 39);
}
h4{
  margin: 0;
  color: black;
}
footer{
  margin-top: 35px;
  width: 100%;
  height: 80px;
  background-color: rgb(230, 53, 191);
  color: black;
  text-shadow: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#p a{
  text-align: center;
  font-size: 20px;
  color: black;
}
/* les media query mobile */

@media(max-width:768px){
*{
box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
}
#haut{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
#photosoleil{
    width: 70px;
    border-radius: 40%;
}
hr {
  color: white;
  border: 2px solid white;
  margin-top: 10px;
  width: 60%;
  margin-bottom: 20px;
}
#contain {
  padding-top: 25px;
  text-align: center;
  width: 80%;
  background-color: aquamarine;
  border-radius: 15px;
  height: 280px;
}
input {
  width: 60%;
  height: 30px;
  border-radius: 15px;
  box-shadow: blue 1px 1px 6px 1px;
  margin-left:15px;
}
button {
  height: 30px;
  width: 95px;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  border: 1px solid white;
    margin-right: 15px;

}
button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 4, 255);
  cursor: pointer;
  border: 1px solid blue;
  transform: scale(1.1);
  transition: 0.5s;
}
#resultat {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 120px;
  border-radius: 20px;
  font-size: 15px;
}
#recherche{
  width: 30px;
  height: 25px;
}
h3 {
  color: rgb(61, 52, 52);
  text-decoration: none;
  font-size: 15px;
  margin: 10px;
}
h1,h2{
  font-size: 20px;
  text-align: center;
  margin: 10px;
}
#enfant{
  background-color: rgba(184, 180, 175, 0.733);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
align-items: center;
border-radius: 15%;
}
#contain2{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 15px;
  flex-wrap: wrap;
  color: rgb(255, 39, 39);
  margin-top: 35px;
}
#photobas{
    width: 35px;
    border-radius: 30%;
}
h4{
  margin: 0;
  color: black;
}
footer{
  margin-top: 80px;
  width: 100%;
  height: 130px;
  background-color: rgb(230, 53, 191);
  color: black;
  text-shadow: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#p a{
  text-align: center;
  font-size: 15px;
  color: black;
}
}

@media (min-width: 768px) and (max-width: 1024px) {
*{
box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
}
#photosoleil{
    width: 100px;
    border-radius: 40%;
}
h1,h2{
  font-size: 30px;
  text-align: center;
  margin: 10px;
}
input {
  width: 60%;
  height: 40px;
  border-radius: 15px;
  box-shadow: blue 1px 1px 6px 1px;
  margin-left:15px;
}
button {
  height: 40px;
  width: 95px;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  border: 1px solid white;
    margin-right: 15px;

}
button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 4, 255);
  cursor: pointer;
  border: 1px solid blue;
  transform: scale(1.1);
  transition: 0.5s;
}
#resultat {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 120px;
  border-radius: 20px;
  font-size: 15px;
}
footer{
  margin-top: 80px;
  width: 100%;
  height: 160px;
  background-color: rgb(230, 53, 191);
  color: black;
  text-shadow: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#p a{
  text-align: center;
  font-size: 25px;
  color: black;
}
}